<section class="backImg">
<h1>Welcome to My Angular Project </h1>

<!-- <h2>click on login button to proceed</h2> -->
<h2>List of feautures</h2>
<ol>
    <li  id="question" (click)="open()">Export quizs to Firebase database  <mat-icon id="iconAdd">add</mat-icon>
       <ul class="desc">
           <li class="Des1">added a upload feautures for pdf uploads</li>
           <li class="Des1">added a notifications</li>
           <li class="Des1">notifications with cloud functions</li>
           <li class="Des1">added a service Worker</li>
       </ul>   
    </li>
    <li id="side" (click)="open1()">Side Projects <mat-icon id="Add">add</mat-icon>
        <ul class="desc1">
            <li class="Des2">Sign-Up with Firebase Authentications</li>
            <li class="Des2">Crud Operations using Firebase database</li>
        </ul>
    </li>
    
</ol>



</section>