mat-toolbar{
    justify-content:space-between ;
    
}
.content{
    padding: 0px;
}

body.mat-typography {
    background-color: #1e3244f5;
}
ul{
display: contents;
    position:absolute;
    justify-self: start;
    /* margin: 50; */
    list-style: none;
    
}
button.mat-focus-indicator.btn3.mat-raised-button.mat-button-base.mat-warn {
    cursor: pointer;
}


#frm{
    border-radius: 10px;
    border-color: black;
    /* //background-image: url('/src/assets/spring.jpeg'); */
    margin-top: 10px;
}
button.go {
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
    border-color: darkcyan;
    background: #6ce81a;
}
.inCopy{
    padding: 9px;
    border-radius: 10px;
    border-color: blue;
}
label.label {
    margin-left: 12%;
    font-size: x-large;
    font-family: fantasy;
}
button.Export {
    display: inline;
    position: relative;
    left: 52%;
    bottom: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border-color: cyan;
    background: chartreuse;
    font-size: large;
    font-family: ui-monospace;
}
div#copy1 {
    margin: 10px;
    padding: 20px;
    border-color: #c28f1d;
    font-size: initial;
    font-family: fangsong;
    background: bisque;
}

