.form-container{
    display: block;
    max-width: 300px;
    margin: auto;
    /* background-color: rgb(56, 70, 82); */
    background: linear-gradient(45deg, #7b1fa2, #09f974);
    padding: 48px;
    border-radius: 20px;
}

form mat-form-filed{
    width: 100%;
}
.centre{
    display: flex;
    justify-content: center;
}
/* .btnG{
    /* background-image: url('/src/assets/sn.png'); */
    /* border-radius: 10px;
    background-color: coral;
    background-size:cover;
    margin: auto;
    padding: 10px;
} */


.card1 img{
    margin: 0;
    padding: 0;
    width: 200px;

    box-sizing: border-box;
    
}

