.form-container{
    display: block;
    max-width: 300px;
    margin: auto;
    /* background-color: rgb(56, 70, 82); */
    background: linear-gradient(45deg, #7b1fa2, #09f974);
    padding: 48px;
    border-radius: 20px;
}

form mat-form-filed{
    width: 100%;
}
.centre{
    display: flex;
    justify-content: center;
}
.btnG{
    
     /* border-radius: 10px; */
    background-color: rgb(0, 0, 0);
    background-size:cover;
    margin: 0;
    padding: 0px;
    margin-top: 5px;
}


.card1 img{
    margin: 0;
    padding: 0;
    width: 200px;

    box-sizing:content-box;
    
}
.btnFB{

        margin-top: 5%;
        padding: 4%;
        background-color: #000000;
        color: #3a559f;
        font-style: bold;
        font-size: medium;
        font-family:  inherit;
        border-radius: 10px;
        text-align: center;
    
}
.btnFB img{
    margin: 0;
    padding: 0;
    width: 23px;
    position: relative;
    top: 6px;
    box-sizing:content-box;
    margin-right: 5px;
}

.btnFB:hover{
    background-color: white;
}