<!-- <h1 *ngIf="user$ | async as user">Wlecome to home page {{user.displayName}}</h1> -->

<section>
    <!-- form to register new data -->
        <div>
            <form required #basic="ngForm"  class="container" >
                
                <label for="name">Name</label><br>
                <input type="text" required #name="ngModel" [(ngModel)]="showData.name" for="name" name="Uname">
                <div class="div1" *ngIf=" name.invalid && name.touched ">Please Enter Vaild Name</div>
                <br>
    
                <label for="Email">Email</label><br>
                <input type="email"required #email="ngModel" email="" [(ngModel)]="showData.email" for="email" name="email" >
                <div class="div1" *ngIf=" email.invalid && name.touched ">Please Enter Vaild Email</div>
                <br>
    
                <label for="Number">Mobile Number</label><br>
                <input type="number" required #number="ngModel"  [(ngModel)]="showData.mobile" for="number" name="number"><br>
                <div class="div1" *ngIf=" number.invalid && number.touched ">Please Enter Phone Number</div>
                <label for="City">City</label><br>
                <input type="text" [(ngModel)]="showData.city" for="city " name="city"><br>
                    
                <button  [disabled]="basic.invalid" (click)="UpdateData(id)" mat-raised-button color="primary">Update</button>
                    <div class="div1" style="color: rgba(128, 255, 0, 0.678);">{{msg}}</div>
                <div>{{msg}}</div>
            </form>
        </div>
    </section>