<section class="back">
    <div class="container">
        <!-- <div  id="loader"></div> -->
        <table>
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>profile</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of showData; let i=index">
                    <td>{{i+1}}</td>
                 <!-- <img [src]="items.url" alt="profile"> -->
                    <td>
                      <div class="div1">  <img [src]="items.url" alt="profile" sizes="20px" srcset=""></div>
                    </td>
                
                   <td> {{items.name}}</td>
                    <td>{{items.email}}</td>
                    <td>{{items.mobile}}</td>
                    <td>{{items.city}}</td>
                    <button class="btn" [routerLink]="['/update',items.id]">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button class="btn2" mat-fab color="primary" (click)="DeleteData(items.id)"
                        aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <!-- [routerLink]="['/update',items.id](click)="Update(items.id)"  -->

                   
                </tr>
            </tbody>
        </table>
          <span id="end"> {{i}}</span>
         
        <button class="btnN" [disabled]='showData.length<=4' (click)="next()"><mat-icon>skip_next</mat-icon></button>
        <button class="btnN" [disabled]="j==1"  (click)="prev()" ><mat-icon>skip_previous</mat-icon></button>
    </div>
</section>